<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045996640877-t5f88bn2p9cktcuq8bjbvl0oe3jospgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045996640877-t5f88bn2p9cktcuq8bjbvl0oe3jospgb</string>
	<key>API_KEY</key>
	<string>AIzaSyAqBwHpI8lsR0D7ddb2F7TKYhonKsPnLEc</string>
	<key>GCM_SENDER_ID</key>
	<string>1045996640877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.2mqllc.hstry</string>
	<key>PROJECT_ID</key>
	<string>hstry-127a5</string>
	<key>STORAGE_BUCKET</key>
	<string>hstry-127a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045996640877:ios:00600b6c6efda7b1053d64</string>
	<key>DATABASE_URL</key>
	<string>https://hstry-127a5-default-rtdb.firebaseio.com</string>
</dict>
</plist>